@layer reset {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --nav-bar-color: hsl(240 66 43%);
  --nav-bar-icon-color: hsl(240 66 60%);
  --text-color: hsl(0 0 100%);
  --search-bar-color: hsl(0 0 100%);
}

body {
  min-height: 100vh;
  min-height: 100svh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  width: 100%;
}

nav {
  background-color: var(--nav-bar-color);
  display: flex;
  flex: 1;
  a {
    color: var(--text-color);
    text-decoration: none;
    padding: 1.5em;
    display: block;
  }
}

.navbar-items {
  display: flex;
  li {
    list-style: none;
    a {
      color: var(--text-color);
      text-decoration: none;
      display: block;
      padding: 1.5em;
    }
  }
}

.searchbar-wrapper {
  padding: 0.5em;
  width: min(500px, 100%);
  margin-inline: auto;
}

.searchbar {
  display: flex;
  align-items: center;
  background-color: var(--search-bar-color);
  padding: 1em 2em;
  border-radius: 1.5em;
  gap: 1em;
  &:focus-within {
    outline: solid 2px red;
  }
  .search {
    display: flex;
    flex: 1;
    input {
      border: none;
      outline: transparent;
      color: hsl(0 0 0%);
      background-color: var(--search-bar-color);
      flex: 1;
      &::placeholder {
        color: hsl(0 0 0%);
      }
    }
  }
}

.cart-button {
  display: flex;
  padding: 1em 2em;
  margin-left: auto;
  gap: 1em;
  button {
    background-color: var(--nav-bar-icon-color);
    outline: transparent;
    border: transparent;
    aspect-ratio: 1/1;
    border-radius: 100%;
    color: var(--text-color);
    &:hover {
      cursor: pointer;
      background-color: hsl(240 66 33%);
    }
  }
  .visibility-mode {
    font-size: 1em;
  }
}

.main-content {
  display: grid;
  grid-template-columns: 300px 1fr;
  padding: 1em;
  background-color: red;
  gap: 2em;
}

.product {
  background-color: yellow;
  padding: 1em;
}

.product-header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  h2 {
    font-weight: 500;
    font-size: large;
    .sum-items {
      color: hsl(0 0 50);
      font-weight: 450;
    }
  }
}

.sort-by {
  font-weight: 450;
}

select,
::picker(select) {
  appearance: base-select;
}

select {
  border: 2px solid hsl(0 0 87%);
  background: hsl(0 0 93%);
  padding: 0.5em 1em;
  transition: 0.4s;
  font-size: 1em;
  line-height: 1.3em;
}

select:hover,
select:focus {
  background: hsl(0 0 87%);
}

select::picker-icon {
  color: hsl(0 1 23%);
  transition: 0.4s rotate;
}

select:open::picker-icon {
  rotate: 180deg;
}

::picker(select) {
  border: none;
}

option {
  border: 2px solid hsl(0 0 87%);
  background: hsl(0 0 93%);
  padding: 10px;
  transition: 0.4s;
}

option:first-of-type {
  border-radius: 8px 8px 0 0;
}

option:last-of-type {
  border-radius: 0 0 8px 8px;
}

option:not(option:last-of-type) {
  border-bottom: none;
}

option:nth-of-type(odd) {
  background: hsl(0 0 100%);
}

option:focus {
  background: hsl(0 0 72%);
}

option:hover {
  background: hsl(0 0 59%);
}

option::checkmark {
  display: none;
}

option[value="low-to-high"]::before {
  content: url("../images/sort-ascending.png");
}

option[value="high-to-low"]::before {
  content: url("../images/sort-descending.png");
}

.filter {
  background-color: green;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-right: 3px solid hsl(0, 0%, 65%);
  .filter-header {
    display: flex;
    .filter-icon {
      i {
        padding: 1em;
        border-radius: 100%;
        aspect-ratio: 1/1;
        background-color: red;
        color: white;
      }
    }
    .filter-text {
      padding: 1em;
    }
  }
}

.filter-1,
.filter-2,
.filter-3 {
  padding: 4rem;
  background-color: plum;
}
